<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61134191351-94djdrm1cgdkvba8j0gglapdidoulopu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61134191351-94djdrm1cgdkvba8j0gglapdidoulopu</string>
	<key>API_KEY</key>
	<string>AIzaSyD5EnpfvWwoqDNoZmX_keTcljKCEMD7tk4</string>
	<key>GCM_SENDER_ID</key>
	<string>61134191351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeAppAdvanced</string>
	<key>PROJECT_ID</key>
	<string>store-62668</string>
	<key>STORAGE_BUCKET</key>
	<string>store-62668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61134191351:ios:49283c69b6f23cd3ad31f2</string>
</dict>
</plist>